.container{

}

.header{
	background-color:#ff8f6e;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
}
.header div{
	padding: 15px;
} 
.searchbar{
	overflow: hidden; 
	background-color: #f1f1f1;
	padding: 10px;
}
.searchbar input{
	border-radius: 20px;
}
.leftsearch{
	padding-left: 15px;
	
}

.rightsearch{
	padding-right: 15px;
	
}

.wrapcontent{
	overflow: hidden;
}

.wrapcontent ul{
	list-style: none;
	min-height: 300px;
	max-height: 300px;
    overflow-y:scroll; 
}

.wrapcontent ul li{
	padding-bottom: 10px;
}
.wrapcontent ul li:hover{
	background-color: #f1f1f1;
}